body {
    background-color: black;
    color: rgb(25, 211, 218);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(55, 58, 64);
    border: none;
}

.nav-link {
    color: rgb(25, 211, 218);
}

.to-top {
    background-color: rgb(55, 58, 64);
    border-radius: 50%;
    border: none;
}

.go-up {
    color: rgb(238, 238, 238)
}